/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/DirectxS.AE8FFDF3.tlog/*.tlog
/DirectxSceneGraph/*.opendb
/DirectxSceneGraph/*.db
/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/*.pdb
/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/*.obj
/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/DirectxS.AE8FFDF3.tlog/*.lastbuildstate
/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/*.log
/DirectxSceneGraph/DirectxSceneGraph/x64/Debug/*.idb
/bin/*.exe
/bin/*.ilk
/bin/*.pdb
